@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Rubik&display=swap');
table{
    border-collapse: collapse; 
    justify-content: center;
    margin: 15%;
    text-align: center;
  
}
td,th{
    border: solid;
}
td{
    color: red;
}
caption{
    font-family: 'Dancing Script', cursive;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 2em;
}